SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000
CSRF_TRUSTED_ORIGINS=http://localhost:8000

# Database (по умолчанию SQLite, для prod раскомментируй postgresql)
# DATABASE_URL=postgresql://user:password@localhost:5432/screener_db

# Redis & Celery
REDIS_URL=redis://localhost:6379/0

# Screener app
GROQ_API_KEY=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
TELEGRAM_BOT_TOKEN=8563299342:AAEhzGva5k-4A6C7DFOFtexVzhMtVLate0c
WATCH_FOLDER=/path/to/screenshots/folder
